:root {
  --main-bg-color: #45484d;
  --main-window-content: #525252;
  --main-window-title: #292929;
  --main-window-text: #ffffff;
  --main-text: #bfbfbf;
  --main-label: #dada76;
  --main-highlight: #dada76;
  --main-widget-background: #5252524f;
}
