
time {
  font-size: 16pt;	
  line-height: 16pt;
}

.stackVertical {
  display: flex;
  flex-direction: column;	
}

.stackRow {
  flex: 2;
  display: flex;
  margin: 4px;
  padding: 1px;
}

.stackRowTight {
  line-height: 10pt;
}

.separator {
  background: #9a9696;
  height: 1px;
  margin: 0px 4px 4px 4px;
}

.fixedLabel {
  font-size: 8pt;
  line-height: 8pt;
  padding: 2px;
  /*margin: 2px;*/

  color: var(--main-text)
}

.fixedLabelLarge {
  font-size: 12pt;
  line-height: 12pt;  
  padding: 2px;
  /*margin: 2px;*/

  color: var(--main-text)
}

.label {
  font-size: 12pt;
  line-height: 12pt;  
  padding: 2px;
  /*margin: 2px;*/

  color: var(--main-label)
}