
.taskbar {
  height: 40px;

  border: 1px solid #212121;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#494949+0,404040+23,494949+85,494949+100 */
  background: rgb(73,73,73); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(73,73,73,1) 0%, rgba(64,64,64,1) 23%, rgba(73,73,73,1) 85%, rgba(73,73,73,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(73,73,73,1) 0%,rgba(64,64,64,1) 23%,rgba(73,73,73,1) 85%,rgba(73,73,73,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(73,73,73,1) 0%,rgba(64,64,64,1) 23%,rgba(73,73,73,1) 85%,rgba(73,73,73,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#494949',GradientType=0 ); /* IE6-9 */
}
