.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.scrim {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #403f3fd9;
  z-index: 10000;
  padding: 0px;
  margin: 0px;
}

.genericWindow {
  background-color: #3c3c3c;
  position: absolute;
  -webkit-box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.45);
  border-radius: 3px;
  border: 1px solid #565555;;

  display: flex;
  flex-direction: column;
  padding: 1px;  
}

.dialogWindow {
  background-color: var(--main-window-content);
  position: absolute;
  -webkit-box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.45);
  border-radius: 3px;
  border: 1px solid #807f7f;

  display: flex;
  flex-direction: column;

  padding: 0px;  
  padding-bottom: 5px;
}

.centered {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.desktopWidget {
  background-color: var(--main-widget-background);
  position: absolute;
  border-radius: 3px;
  border: 1px solid #565656;
  -webkit-box-shadow: inset 0px 0px 21px 8px rgba(0,0,0,0.16);
  -moz-box-shadow: inset 0px 0px 21px 8px rgba(0,0,0,0.16);
  box-shadow: inset 0px 0px 21px 8px rgba(0,0,0,0.16);
  display: flex;
  flex-direction: column;
  padding: 0px;
  color: #ffffff; 
}

.desktopPanel {
  background-color: var(--main-window-content);
  position: absolute;
  border-radius: 3px;
  border: 1px solid #656363;

  -webkit-box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.45);  

  display: flex;
  flex-direction: column;
  padding: 0px;

  color: #ffffff;
}

.windowContent {
  color: var(--main-window-text);
  margin: 2px;
  background: var(--main-window-content);
  border: 1px inset #717171;
  flex: 2;
  display: flex; 
  padding: 2px;
  overflow: hidden;
}

.windowAppContent {
  color: var(--main-window-text);
  flex: 2;
  display: flex;
  margin-bottom: 4px;
  margin-left: 2px;
  margin-right: 2px;  
  overflow: hidden;
}

.windowMain {
  width: 100%;
}

.dialogContent {
  color: var(--main-window-text);
  margin: 2px;
  flex: 2;
  display: flex;
  padding: 2px;
}

.desktopWidgetContent {
  color: var(--main-window-text);
  margin: 2px;
  padding: 2px;
}

.desktopPanelContent {
  color: var(--main-window-text);
  margin: 2px;
  padding: 2px;
}

.macribbon {
  margin-left: 2px;
  margin-right: 2px;
  margin: 1px;
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
  background: var(--main-window-title);
  border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  
  color: #989898;
  
  font-size: 8pt;

  display: flex;
  flex-direction: row;
}

.macribbonselected {
  margin-left: 2px;
  margin-right: 2px;
  margin: 1px;
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
  background: var(--main-window-title);
  border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  color: white;
  
  font-size: 8pt;

  display: flex;
  flex-direction: row;  
}

.titlebar {
  cursor: grab;
}

.titlecontent {
  height: 20px;

  font-size: 8pt;
  text-align: left;
  /*line-height: 17px;*/
    
  flex: 1;
  flex-wrap: nowrap;
  overflow: hidden;
}

.widgetribbon {
  margin: 2px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
  color: #fff;
  font-size: 8pt;
  border-bottom: 1px solid #656464;
}

.statusbar {
  margin: 0px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;

  border: 1px inset #717171;
  color: #c5c5c5;
  
  line-height: 12pt;
  font-size: 8pt;

  /* To make space for the gripper */
  -webkit-border-bottom-right-radius: 25px;
  -moz-border-radius-bottomright: 25px;
  border-bottom-right-radius: 25px;
}

.resizable {
  resize: both;
  overflow:auto;
}

.gripper {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0px;
  bottom: 0px;
  background: url("../images/icons/resize.png") no-repeat fixed center; ;
}

.dialogControls {
  margin: 2px;
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
  color: #fff;
  font-size: 8pt;
  text-align: center;
}

.standardCloseButton {
  flex: 0;
  padding: 0px;
  margin: 2px;
  height: 12px;  
  cursor: pointer;
}

.standardMaximizeButton {
  flex: 0;
  padding: 0px;
  margin: 2px;
  height: 12px;  
  cursor: pointer;
}

.standardCloseButton > svg:hover line {  
  stroke: var(--main-highlight);
  fill: var(--main-highlight);
}

.standardMaximizeButton > svg:hover line {
  stroke: var(--main-highlight);
  fill: var(--main-highlight);
}
